body
{
}

.SectionHeader {
  font-size: 30pt ;
  color: black;
}

ul.ImgList
{
  height: 96px;
  width: auto;
  align-content:center;
}

  ul.ImgList li {
    list-style: none;
    display: block;
    align-content: center;
    vertical-align: central;
    padding: 10px;
    border: 1px solid #ccc;
  }

  ul.ImgList li a 
  {
    vertical-align: central;
  }
