body
{
}

.PageHeader
{
  font-size: 27pt;
  color: black;
  align-content: center;
}

.SectionHeader
{
  font-size: 23pt;
  color: black;
}

img.Img1
{
  width: 160px;
  height: 160px;
}
.ImgWDesc
{
  height: 96px;
  align-content: center;
  padding: 10px;
}

ul.Menus
{
  padding-left: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bolder;
}

  ul.Menus ul
  {
    padding-left: 5px;
    margin-left: 5px;
    font-weight: normal;
  }

  ul.Menus ul
  {
    padding-left: 5px;
    margin-left: 5px;
  }

ul.Menus li
{
  padding-left: 5px;
  margin-left:5px;
}

ul.ImgList
{
  height: 96px;
  width: auto;
  align-content: center;
}

ul.ImgList li
{
  list-style: none;
  display: block;
  align-content: center;
  vertical-align: central;
  padding: 10px;
  border: 1px solid #ccc;
}

ul.ImgList li a
{
  vertical-align: central;
}

ul
{
  margin-top: 0;
  list-style-type: disc;
}

a
{
  font: larger;
  text-decoration: none !important;
  color: blue;
}

div
{
  padding-top: 0.5em;
}